<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>

    <form action= "/processing" method="POST">

        <div class="surveybox">
            <p class="dojosurvey">Dojo Survey</p>
        
            <label for="name" class="header">Name:</label>
            <input type="text" id="name" name="name" class="namebox">

            <br>
            <label class="header">Dojo Location:</label>
            <select name="state_select" class="selectbox">
                <option value="--select a Location--">--Select A Location--</option>
                <option value="New York">New York</option>
                <option value="Texas">Texas</option>
                <option value="Colorado">Colorado</option>
                <option value="California">California</option>
                <option value="Florida">Florida</option>
                <option value="Alaska">Alaska</option>
            </select>
            <br>
        
            <label for="language" class="header">Favorite Language:</label>
            <select name="lang_select" class="selectbox">
                <option value="--select a language--">--Select A Langauge--</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Python">Python</option>
                <option value="C#">C#</option>
                <option value="Java">Java</option>
                <option value="HTML">HTML</option>
                <option value="CSS">CSS</option>
            </select>

            <label for="commenting" class="header">Comments: (optional)</label>
            <input type="text" id="commenting" name="commenting" class="commentbox">
            
        <input type="submit" value="submit" class="submitbutton">
    </form> 
        
    </div>
</body>
</html>

